@model IEnumerable<PomponetWebsite.Models.Sensors>

@{
    ViewData["Title"] = "Index";
}

<h1>List Sensors</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<form asp-controller="Sensors" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroSensor"]">
                    @Html.DisplayNameFor(model => model.Sensor)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroPrice"]">
                    @Html.DisplayNameFor(model => model.Price)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_crop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sensor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_crop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id_Sensor">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id_Sensor">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id_Sensor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
