@model PomponetWebsite.Models.Crops

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Crops</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crop_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crop_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Player)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Player)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Crop">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
