@model IEnumerable<PomponetWebsite.Models.Crops>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Crop_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Crop_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Player)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id_Crop">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id_Crop">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id_Crop">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
