@model IEnumerable<PomponetWebsite.Models.People>

@{
    ViewData["Title"] = "Index";
}

<h1>List People</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<form asp-controller="People" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroNombre"]">
                    @Html.DisplayNameFor(model => model.Names)
                </a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroEdad"]">
                    @Html.DisplayNameFor(model => model.Age)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Names)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id_Person">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id_Person">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id_Person">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
