@model IEnumerable<PomponetWebsite.Models.Pest_X_Fungicide>

@{
    ViewData["Title"] = "Index";
}

<h1>List Pest_X_Fungicide</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-text" placeholder="Search..." />
        <input type="submit" value="Search" class="btn btn-sm btn-dark" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PestSortParm"]">
                    @Html.DisplayNameFor(model => model.First().Pests.Pest)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FungicideSortParm"]">
                    @Html.DisplayNameFor(model => model.First().Fungicides.Name_Fungicide)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pests.Pest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fungicides.Name_Fungicide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id_Pest_X_Fungicide">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id_Pest_X_Fungicide">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id_Pest_X_Fungicide">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
