@model PomponetWebsite.Models.Inventories

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventories</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_Inventorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_Inventorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Person)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Tool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Tool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Epp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Epp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Inventory">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
